<!doctype html>
<html lang="en" ng-app="eventsApp">

<head>
  <meta charset="utf-8">
  <title>EVENTS APP</title>
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body ng-cloak>
  <div class="container">
    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav">
          <li><a href="/newEvent">Create Event</a>
          </li>
        </ul>
      </div>
    </div>
    <div ng-controller="EventController" style="padding-left:20px; padding-right:20px">
      <img ng-src="{{event.imageUrl}}">
      <!-- it delays the display of the image until angular has actually time to execute the binding expression -->
      <div class="row">
        <div class="span11">
          <h2 ng-style="mystyle">{{event.name | uppercase}}</h2>
          <!-- <h2 ng-bind="event.name"></h2> -->
          <!--      <h2 ng-bind-template="{{event.name}} {{event.date}}"></h2> -->
        </div>
      </div>
      <!-- <div ng-bind-html-unsafe="snippet"> some title </div> -->
      <button class="btn" ng-disabled="buttonDisabled">Disabled </button>
      <h2 ng-show="boolValue"> Show me </h2>
      <h2 ng-hide="boolValue"> Hide This </h2>
      <div ng-bind-html="snippet"> some title </div>
      <div class="row">
        <div class="span3">
          <div><strong>Date:  {{event.date}} </strong>
          </div>
          <div><strong> Time:  {{event.time}} </strong>
          </div>
        </div>
      </div>
      <div>
        <div class="span4">
          <address> 
        <strong>Address: {{event.location.address}}</strong>
    </address>
        </div>
      </div>
      <hr />
      <h3> Sessions </h3> Order by:
      <select ng-model="sortorder" class="input-small">
        <option selected value="name">Name</option>
        <option value="-upVoteCount">Votes</option>
      </select>
      Show:
      <select ng-model="query.when" class="input medium">
        <option selected value="">All</option>
        <option selected value="beginning">Beginning</option>
        <option selected value="middle">Middle</option>
        <option selected value="end">End</option>
      </select>
      <ul class="thumbnails">
        <li ng-repeat="session in event.sessions | orderBy:sortorder | filter:query">
          <div class="row session">
            <div class="spanO well votingWidget">
              <div class="votingButton" ng-click="upVoteSession(session)">
                <i class="icon-chevron-up icon-white"></i>
              </div>
              <div class="badge badge-inverse">
                <div>{{session.upVoteCount}}</div>
              </div>
              <div class="votingButton" ng-click="downVoteSession(session)">
                <i class="icon-chevron-down"></i>
              </div>
            </div>
            <div class="well span9">
              <h4 class="well-title"> {{session.name}} </h4>
              <h6 style="margin-top:-10px"> Creator: {{session.creator}} </h6>
              <span> Duration: {{session.duration | durations}} </span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="app.js"></script>
  <script src="controllers/EventController.js"></script>
  <script src="filter.js"></script>
</body>

</html>