<!doctype html>
<html lang="en" ng-app="eventsApp">

<head>
  <meta charset="utf-8">
  <title>EVENTS APP</title>
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">

</head>

<body>
  <div class="container">
    <div class="navbar">
      <div class="navbar-inner">
      <ul class="nav">
      </ul>
    </div>
  </div>
    <div ng-controller="EventController">
      <div class="row">
        <div class="span11">
          <h2>{{event.name}}</h2>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <div><strong>Date:  {{event.date}} </strong></div>
          <div><strong> Time:  {{event.time}} </strong></div>
    </div>
  </div>
  <div>
  <div class="span4">
    <address> 
        <strong>Address: {{event.location.address}}</strong>
    </address>
  </div>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="controllers/EventController.js"></script>
</body>

</html>